main {
	padding: 2rem;
	max-width: 40rem;
}

header {
	padding: 0 4rem;
}

main h1 {
	font-size: 4rem;
	font-weight: 100;
}

main header p {
	font-size: 1.8rem;
	font-weight: 100;
}

.dice-container {
	display: grid;
	grid-template: auto auto / repeat(5, 1fr);
	gap: 1rem;
}
